@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

* {
  box-sizing: "border-box";
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: "antialiased";
  -moz-osx-font-smoothing: "grayscale";
  height: "100%";
  width: "100%";
}
body {
  height: "100%";
  width: "100%";
}
#root {
  height: "100%";
  width: "100%";
}

.historico{
  overflow: auto;
  max-height: 70%;
  height: 28em;
}

.historico > div{
  margin-right: 1em;
  padding-bottom: .7em;
  margin-bottom: .7em;
  border-bottom: 1px solid #F0F3FC;
}
.historico > div img{
  margin-right: .7em;
  margin-bottom: 0!important;
}
.historico > div p{
  margin-top: 0em;
}

.perfil{
  box-shadow: none;
}

.perfil > div{
  padding: 0;
}

.perfil .usuario{
  margin-left: .7em;
}

.tela-login{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-login{
  background-color: #fff;
  border-radius: 1em;
  width: 40%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-login button{
  width: 100%;
}

.box-login p{
  margin-bottom: 1em;
}

.box-login button.google{
  color: #939393;
  background-color: aliceblue;
}

.box-login button.facebook{
  color: #fff;
  background-color: rgb(31, 31, 146);
}

.menu-footer nav{
  display: flex;
}

.btn-enviar{
  margin-top: .8em;
}